* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #FFFFFF;
    background-image: url('./assests/bg-light.svg');
    background-repeat: no-repeat;
    max-width: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 92px 5px 92px;
    max-width: 100%;
}

.site-header {
    position: sticky;
    padding: 16px 24px 16px 24px;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: #003F5C 0.3s ease;
    background-color: transparent;
}

.site-header.scrolled {
    background-color: rgba(11, 11, 11, 0.95);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    list-style: none;
    margin-left: 76px;
}

.nav-list li a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-bottom: 15px;
    padding: 7px 13px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 999px;
    display: inline;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-list li a:hover {
    background-color: rgba(255, 255, 255, 0.041);
    transition: all 0.3s ease;
    color: #ffffff;
}


.nav-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-bottom: 16px;
    padding: 8px 13px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 999px;
    display: inline;
    background-color: rgba(255, 255, 255, 0.041);
}


.start-for-free {
    color: #100f0f;
    background-color: #FFFFFF;
}

.start-for-free:hover {
    background-color: #D9E4EA;
    transition: none;
}



.announcement-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 20px 20px;
}



.announcement-pill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 6px 16px 6px 8px;
    /* Extra right padding for the icon */
    background-color: #07174748;
    border: 0.1px solid rgba(255, 255, 255, 0.053);
    border-radius: 999px;
    text-decoration: none;
    transition: all 0.2s ease;
}


.announcement-pill:hover {
    background-color: #07174710;
    border-color: rgba(255, 255, 255, 0.131);
}

.badge {
    background: linear-gradient(135deg, #22c55e 0%, #16a34a 100%);
    /* Minty green */
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 999px;
    letter-spacing: 0.05em;
    box-shadow: 0 0 15px rgba(34, 197, 94, 0.3);
}

.announcement-text {
    color: #e2e8f0;
    font-size: 13.5px;
    font-weight: 500;
}


.chevron-icon {
    display: flex;
    align-items: center;
    color: #191818;
    transition: transform 0.2s ease;
}

.announcement-pill:hover .chevron-icon {
    transform: translateX(1px);
}


.svg-parent {
    padding: 2px 2px;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    border-radius: 50%;
    text-align: inherit;
}



.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 40px 20px;
    position: relative;
    z-index: 10;
}

.hero-title {
    font-size: clamp(48px, 8vw, 55px);
    font-weight: 600;
    color: #ffffff;
    line-height: 1.1;
    letter-spacing: -0.02rem;
    margin-bottom: 24px;
}

.hero-subtitle {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.85);
    line-height: 1.6;
    max-width: 600px;
    margin-bottom: 40px;
}

/* The CTA input group */
.hero-cta-group {
    display: flex;
    gap: 12px;
    background-color: rgba(255, 255, 255, 0.271);
    padding: 3px;
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.257);
    backdrop-filter: blur(8px);
}

.email-input {
    background: transparent;
    border: none;
    padding: 8px 18px;
    color: white;
    font-size: 16px;
    width: 260px;
    outline: none;
}

.email-input::placeholder {
    color: #c3dbd9;
}

.start-btn {
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 10px 18px;
    border-radius: 999px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.start-btn:hover {
    background-color: #f1f5f9;
    transform: scale(1.02);
}


/* product showcase */

.product-showcase {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    padding: 0px 20px 80px 20px;
    position: relative;
    z-index: 20;
}

.showcase-container {
    max-width: 1200px;
    width: 86%;
    border-radius: 32px;
}

.main-dashboard-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 32px;
    z-index: 100;
    border: rgba(0, 0, 0, 0.05);

    -webkit-mask-image: linear-gradient(to bottom,
            black 92%,
            transparent 100%);
    mask-image: linear-gradient(to bottom,
            black 92%,
            transparent 100%);
}

.showcase-container {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #dddddd;
 
    -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}




.logo-section {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #ffffff;
}


.logo-section {
 
    margin-top: -170px;

    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.8) 30%,
     
            #ffffff 100%
           
        );

    padding-top: 150px;
  
    position: relative;
    z-index: 30;
   
}

.logo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    align-items: center;
    max-width: 1000px;
}

.logo-container svg {
    color: #525252;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    justify-self: center;
}

.logo-container svg:hover {
    opacity: 1;
}


.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 60px 20px;
    position: relative;
    z-index: 10;
}

.info-title {
    font-size: clamp(40px, 8vw, 15px);
    font-weight: 600;
    color: #171616;
    line-height: 1.1;
    letter-spacing: -0.02rem;
    margin-bottom: 24px;
}

.info-subtitle {
    font-size: 20px;
    color: #3a393b;
    line-height: 1.2;
    max-width: 700px;
    margin-bottom: 40px;

}



.features-grid-section {
    display: flex;
    justify-content: center;

}

.features-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.feature-card {
    border: 1px solid #e0e0e0;
    width: 35%;
    border-radius: 15px;
    padding: 20px;
    height: 400px;

}


.card-tag {
    font-family: inter, "inter Fallback";
    padding: 20px;
    color: #0C8C5E;
    font-size: 13px;
    font-weight: 500;
}

.card-title {
    padding: 20px 20px;
    text-wrap: wrap;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5rem;

}

.card-text {
    padding: 20px 20px;
    color: #525252;
}



@media (max-width: 768px) {}


/* This is the outer wrapper */
.assistent-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px;
}


.assistent-card {
    width: 90%;
    /* Tells it to take up 90% of the screen... */
    max-width: 923px;


    border: 1px solid #3a393b;
    border-radius: 15px;
    padding: 30px;
    text-align: center;


  
    min-height: 600px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: normal;
    color: #000000;
}

.assistent-tag {
    font-family: inter, "inter Fallback";
    font-size: 11px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #188B5F;
    letter-spacing: 0.6px
}

.assistent-title {
    font-family: inter, "inter Fallback";
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 31.2px;
    letter-spacing: -0.24px;
    color: #08090A;
}

.assistent-text {
    font-family: inter, "inter Fallback";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: normal;
    color: #3a393b;
}


.enterprise-section {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding: 120px 20px;
    background-color: #f4f3f3;
    font-family: 'Inter', sans-serif;
}

.enterprise-container {
    max-width: 1200px;
    width: 100%;
}

.enterprise-top {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 80px;
}

.enterprise-tag {
    font-family: sans-serif;
    color: #188B5F;
    /* Mint color */
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 18px;
}

.enterprise-title {
    font-family: inter, "inter Fallback";
    font-size: 40px;
    line-height: 44px;
    font-weight: 600;
    color: #08090A;
    margin: 20px 0;
    max-width: 500px;
    letter-spacing: -0.8px;
}

.enterprise-desc {
    font-size: 18px;
    max-width: 800px;
    white-space: nowrap;
    color: #4b5563;
    letter-spacing: -0.01rem;
}

.enterprise-pill-btn {
    background-color: #000;
    color: #fff;
    padding: 12px 28px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

/* Feature Grid */

.enterprise-features {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 10px 87px;
    gap: 40px;
    text-align: left;
}

.feature-col h3 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.2px;
    font-weight: 600;
    color: #08090A;
    margin: 15px 0;
}

.feature-col p {
    color: #42474f;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: normal;
}

.mint-color {
    color: #0d9488;
    font-size: 24px;
}

.enterprise-header-text {
    max-width: 650px;
}


.story-card {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 540px;
    border-radius: 32px;
    margin: 40px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;

    /* THE BACKGROUND ENGINE */
    /* Layer 1: Dark Navy Overlay (70% opacity to black) */
    /* Layer 2: The actual Arch Image positioned on the right */
    background:
        linear-gradient(to right, #02233f06 25%, rgba(0, 18, 34, 0.071) 100%, transparent 100%),
        url('./assests/newimg/anthropic.svg');

    background-color: #0c2d4b31;
    /* Fallback base color */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right center;
}

.story-card:hover {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 540px;
    border-radius: 32px;
    margin: 40px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px;

    color: #ffffff;
    font-family: 'Inter', sans-serif;

    /* THE BACKGROUND ENGINE */

    background:
        linear-gradient(to left, #010e193b 25%, rgba(1, 14, 25, 0.287) 100%, transparent 100% ),
        url('./assests/newimg/anthropic.svg');

    background-color: #0c2d4b40;

    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right center;
    cursor: pointer;
}

/* Text Content Area */
.story-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 520px;
    justify-content: space-between;
}

.story-tag {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 24px;
    display: block;
}

.story-title {
    font-size: 38px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 32px;
    letter-spacing: -0.02em;
}

.read-story-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: opacity 0.2s;
}

.read-story-link:hover {
    opacity: 0.8;
}

.story-stats {
    display: flex;
    gap: 80px;
    margin-top: auto;
}

.stat-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: end;

}

.stat-number {
    font-size: 44px;
    font-weight: 600;
    letter-spacing: -0.02em;
}

.stat-label {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
    max-width: 220px;
}

.company-section {
    
    margin: 20px 155px;
    max-width: 1200px;
    border-radius: 35px;
}
.company-section:hover {
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.361);
}

.company-logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}





.customer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-overflow: hidden;
    margin-top: 200px;
}

.customer-tag {
    font-family: sans-serif;
    color: #188B5F;
    /* Mint color */
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 10px;
}

.customer-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
}
.customer-text {
    color: #454545;
    font-size: 19px;
    font-weight: 400;
}











.image-container img {
    border-radius: 15px;
}

.image-section {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    gap: 3px;
    max-width: min-content;
}
.image-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    text-overflow: hidden;
    margin: 10px;
    cursor: pointer;
}

.image-container p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #525252;

}

.read-story-link {
    color: #525252;
    display: flex;
    align-items: center;
}

.read-story-link:hover {
    color: #188B5F;
}

.read-story-link:hover .chevron-image {
    display: flex;
    align-items: center;
    color: #188B5F;
    /* Muted slate */
    transition: transform 0.2s ease;
    transform: translateX(3px);
}


.image-container:hover .read-story-link {
    color: #188B5F;
}
.image-container:hover .chevron-image {
    display: flex;
    align-items: center;
    color: #188B5F;
    /* Muted slate */
    transition: transform 0.2s ease;
    transform: translateX(3px);
}







.arrow-btn {
    width: 30px;  
    height: 30px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 10px;
    transition: 0.3s;
    
}

/* Light gray button */
.arrow-btn {
    background-color: #a3a3a3;
    color: #ffffff;
}

/* Dark/Active button */
.arrow-btn.active {
    background-color: #111827;
    color: #ffffff;
}

.carousel-nav {
    margin: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
}





.documentation {
    font-size: 40px;
    line-height: 40px;
    font-size: clamp(48px, 8vw, 55px);
    font-weight: 600;
    margin: 200px;     
    
}

.started-demo-btn {
    margin-top: 20px;
}

.get-started {
    background-color: #08090A;
    color: #ffffff;
    width: 250px;
    padding: 11px 30px;
}

.get-demo {
    border: 1px solid #d1d1d1;
    color: #08090A;
    padding: 11px 30px;
}

.get-started:hover {
    background-color: #0c0c0deb;
}

.get-demo:hover {
    border-color: #ffffff;
    background-color: #f1f1f1ba;
}





/* pricing section  */ 

.pricing-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2px 180px;
}


.pricing-container {
    border: 0.02px solid #f2f2f2ca;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 500px;
}

.icon-svg {
    border: 1px solid #a3a3a3;
    border-radius: 20px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
}

.pricing-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 50px;
}

.pricing-title{
    font-size: 25px;
    font-weight: 600;
}

.pricing-text {
    font-size: 20px;
}


.price-details-btn {
    color: #188B5F;
}



.site-footer {
    width: 100%;
    padding: 80px 0px;
    background-color: #ffffff;
    border-top: 1px solid #f3f4f6;
    font-family: 'Inter', sans-serif;
    border-top: 1px solid #f3f4f6;
    border-bottom: 1px solid #f3f4f6;
}

.footer-container {
    max-width: 1200px;
    margin: 10px auto;
    padding: 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}


.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 60px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links a {
    color: #9ca3af; 
    font-size: 20px;
    transition: color 0.2s;
}

.social-links a:hover {
    color: #111827;
}


.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 80px;

    text-align: left;
    margin-left: 50px;
}

.footer-column h4 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #9ca3af; 
    letter-spacing: 0.05em;
    margin-bottom: 28px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column li {
    margin-bottom: 20px;
}

.footer-column a {
    text-decoration: none;
    color: #111827;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.8s;
}

.footer-column li:hover {
    color: #111827;
}



.footer-column li a {
    display: inline-block;
    padding: 6px 12px;     
    margin: -6px -12px;     
    border-radius: 20px;      
    color: #4b5563;
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: transparent; 
    white-space: nowrap;
}

.footer-column li a:hover {
    background-color: #f3f4f6;
    color: #111827;         
}



.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #f3f4f6; 
    color: #9ca3af;
    font-size: 14px;
}

.status-pill {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    background-color: #f3f4f6;
    border-radius: 999px;
    color: #4b5563;
    font-weight: 500;
}

.status-dot {
    width: 8px;
    height: 8px;
    background-color: #10b981; 
    border-radius: 50%;
    position: relative;
}

.status-dot::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #10b981;
    border-radius: 50%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 0.8; }
    100% { transform: scale(2.5); opacity: 0; }
}

/* Utility Buttons (Right Side) */
.footer-utils {
    display: flex;
    gap: 12px;
}

.util-btn {
    background: none;
    border: none;
    color: #9ca3af;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.2s;
}

.util-btn:hover {
    color: #111827;
}


.footer-utils {
    background-color: #9ca3af;
    border-radius: 20px;
    padding: 8px 20px;
}